<select
  class="form-control"
  (change)="swithLang(selectedLang.value)"
  #selectedLang
>
  <option
    *ngFor="let language of translate.getLangs()"
    [value]="language"
    [selected]="language === translate.currentLang"
  >
    {{ language }}
  </option>
</select>
<br />
<br />
<br />

<h1 style="font-size: 60px; text-align: center; color: blue">
  {{ "home.title" | translate }}
</h1>

<br />

<h1 style="font-size: 45px; text-align: center">
  {{ "home.topic" | translate }}
</h1>
<br />

<h1 style="font-size: 40px; text-align: center; color: red">
  {{ "home.project" | translate }}
</h1>

<div>{{ amount | format }}</div>
<div>
  <form>
    <input
      type="currency"
      name="Amount"
      [ngModel]="amount | format"
      (ngModelChange)="amount = $event"
    /><br />
  </form>

  <button class="btn btn-primary" (click)="onSubmit()">submit</button>
</div>
